.header__contenedor {
   position: sticky;
   z-index: 3;
   top: 0;

  }
  .stile {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    display: flex;
    justify-content: space-between;
  }
.bx.bx-menu {
    display: none;
    font-size: 40px;
  }
  

.nav ul {
    display: flex;
    align-items: center;
    gap: 45px;
  }
  
.hero__contenedor {
   width: 100%;
  } 
.hero__contenedor img {
    width: 100%;
    height: 80vh;
    object-fit: cover;
  }
  
body{
    font-family: work sans, sans-serif;
    /* letter-spacing: 2px; */
    background-color: rgb(196, 236, 250);
}
header{
    text-transform: uppercase; 
     justify-content: space-between;
    background-color: black;
}




.shop-contents {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
margin-top: 30px;
margin-left: 80px;
margin-right: 80px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: Arial;
}
.card > img {
width: 90%;
height: 250px;
}
.price {
  color: grey;
  font-size: 22px;
}
.card button {
border: none;
outline: 0;
padding: 12px;
color: white;
background-color: #000;
text-align: pointer;
width: 100%;
font-size: 18px;
}
.card button:hover{
  opacity: 0.7;
}
/* MODAL */
.modal-container {
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}
.modal-container::-webkit-scrollbar {
  display: none;
}
.modal-header {
  display: flex;
  justify-content: space-around;
  background-color: #0a0909;
  color: #fff;
  width: 100%;
}
.modal-header-title {
  justify-self: start;
  color: #fff;
}
.modal-header-button {
  cursor: pointer;
}
.modal-container > .modal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}
.modal-container > div > img {
  height: 120px;
  width: 120px;
}
.total-content {
  font-size: 25px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
  color: #fff;
}
.delete-product {
  cursor: pointer;
}
.cantidad-carrito {
  background-color: red;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  padding: 4px;
  top: 37px;
  right: 14px;
  position: absolute;
  display: none;
}